.header_tetel{
    margin-top: 0.6rem;
}
.header_tetel p {
    font-size: 1.7em;
    color: #0299d8;
    text-align: center;
    display: inline-block;
    height: 16px;
    border-bottom: 1.5px dotted #e6e6e6;
    width: 100%;
    margin: 0.3rem 0 0.8rem 0;
}
.header_tetel span {
    display: inline-block;
    background: #fff;
    padding: 0 10px;
    position: relative;
    top: 0.3rem;
}