.modal_tips_contain {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background: rgba(0, 0, 0, 0.4);
    top: 0;
}

.modal_tips {
    position: absolute;
    width: 80%;
    background: #ffffff;
    left: 10%;
    top: 20%;
    border-radius: 6px;
}

.modal_tips_header {
    width: 100%;
    background: #e5f6fe;
    text-align: center;
    padding: 0.8rem 0;
    font-size: 16px;
    color: #929395;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.modal_tips_content {
    font-size: 14px;
    color: #585657;
    padding: 1.8rem 0.8rem;
    text-align: center;
}

.modal_tips_btn_group {
    width: 100%;
    overflow: hidden;
    padding-bottom: 1rem;
}

.modal_tips_cancel {
    float: left;
    background: #e5f6fe;
    color: #585657;
    width: 35%;
    margin-left: 7.5%;
    text-align: center;
    padding: 0.4rem 0;
    border-radius: 6px;
    cursor: pointer;

}

.modal_tips_alone {
    background: #007bc8;
    color: #ffffff;
    width: 35%;
    margin: 0 auto;
    text-align: center;
    padding: 0.4rem 0;
    border-radius: 6px;
    cursor: pointer;
}

.modal_tips_confirm {
    float: left;
    background: #007bc8;
    color: #ffffff;
    width: 35%;
    margin-left: 15%;
    text-align: center;
    padding: 0.4rem 0;
    border-radius: 6px;
    cursor: pointer;
}

@media screen and (min-width: 769px) {
    .modal_tips {
        position: absolute;
        width: 40%;
        background: #ffffff;
        left: 30%;
        top: 20%;
        /*height: 25%;*/
        border-radius: 6px;
    }

    .modal_tips_content {
        font-size: 14px;
        color: #585657;
        padding: 3.8rem 0.8rem;
        text-align: center;
    }
}
