.commo_button div{
    width:80%;
    margin:3.5rem 10% 2rem;
    background: #2583cd;
    color: #fff;
    text-align: center;
    padding: 0.5rem 0;
    font-size:1.4em;
    border-radius: 0.5rem;
}